body {
  background-color: #192444;
  margin: 5%;
}

#header {
  align-items: center;
  margin-bottom: 25px;
}

#corona-image {
  height: 60px;
  width: auto;
  margin-bottom: 25px;
}

.flex-display {
  display: flex;
}

#main-container {
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  color: white;
}

#title h5 {
  margin-bottom: 0px;
}
